<h2>Simple Calculator</h2>

Number1: 
<input type="text" [(ngModel)]="num1" name="num1Validation" #num1Validation="ngModel" pattern="[-+]?[0-9]*[.,]?[0-9]+" minlength="1" > 
<br><br>
Number2: 
<input type="text" [(ngModel)]="num2" name="num2Validation" #num2Validation="ngModel" pattern="[-+]?[0-9]*[.,]?[0-9]+" minlength="1" > 
<br><br>
<button [disabled]="!num1Validation.valid || !num2Validation.valid"  (click) = "add()">+</button>&nbsp; 
<button [disabled]="!num1Validation.valid || !num2Validation.valid"  (click) = "sub()">-</button>&nbsp;
<button [disabled]="!num1Validation.valid || !num2Validation.valid"  (click) = "mul()">*</button>&nbsp;
<button [disabled]="!num1Validation.valid || !num2Validation.valid"  (click) = "div()">/</button>&nbsp;
<br><br>
<b>Result: {{result |  number: '1.0-2'}}</b>

<div [hidden]="num1Validation.valid || num1Validation.pristine">
This number is invalid.</div>
<p *ngIf="num1Validation?.errors?.pattern">
Only number characters are allowed.</p>
<p *ngIf="num1Validation?.errors?.minlength">
This entry must have at least one characters.</p> <br>

<div [hidden]="num2Validation.valid || num2Validation.pristine">
This number is invalid.</div>
<p *ngIf="num2Validation?.errors?.pattern">
Only number characters are allowed.</p>
<p *ngIf="num2Validation?.errors?.minlength">
This entry must have at least one characters.</p> <br>

<br>
<button (click) = "history()">History</button>&nbsp;
<br><br>
<div *ngFor="let history of calculationHistory" class="text-center">
    {{history.number1}} {{history.operator}} {{history.number2}} = {{history.result}}
</div>
